<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Font Awesome CDN -->
    <script src="https://kit.fontawesome.com/bb4b522cee.js" crossorigin="anonymous"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/lib/bootstrap.v4.5.3/dist/css/bootstrap.min.css">

    <title>Hello, world!</title>
</head>
<body>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4"><i class="fas fa-dice"></i> Diceware</h1>
            <p class="lead"><i>&quot;Diceware is a method for creating passphrases, passwords, and other cryptographic variables using ordinary dice as a hardware random number generator. For each word in the passphrase, five rolls of the dice are required. The numbers from 1 to 6 that come up in the rolls are assembled as a five-digit number, e.g. 43146. That number is then used to look up a word in a word list. In the English list 43146 corresponds to munch. By generating several words in sequence, a lengthy passphrase can be constructed.&quot;</i> <a href="https://en.wikipedia.org/wiki/Diceware" target="_blank">Excerpt from Diceware Wikipedia page.</a></p>
        </div>
    </div>
    @RenderBody()

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="~/lib/jquery-3.5.1/jquery-3.5.1.slim.min.js"></script>
    <script src="~/lib/bootstrap.v4.5.3/dist/js/bootstrap.bundle.js"></script>

    @RenderSection("Scripts", required:false)
</body>
</html>